* {
    margin: 0;
    padding: 0;
}

.tela {
    width: 393px;
    height: 100vh;  /* Ajustando a altura para preencher a tela */
    background-color: #262521;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    color: white;
    text-align: center;
}
.ftPerfil{
    padding: 10px;
}
.nomeDePerfil {
    font-size: 30px;
    letter-spacing: 8px;
    margin-bottom: 20px; /* Espaço abaixo do nome */
}

.menu {
    margin-bottom: 5px;
    width: 100%;  
    padding: 50px;/* Para garantir que o menu ocupe toda a largura da tela */
    font-family: sans-serif;
}

.informe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0; /* Aumentando o espaçamento vertical entre os itens */
    font-size: 16px;
    color: #79DA76;
    /* Adicionando uma linha de separação entre os itens */
}

.informe a {
    text-decoration: none;
    color: #79DA76;
    margin-left: 10px; /* Pequeno espaçamento à esquerda do link */
}

.informe span {
    margin-right: 10px; /* Espaçamento entre o texto e o conteúdo à direita */
}

.logout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
    width: 150px;  /* Botão ocupa toda a largura disponível */
    font-size: 16px;
    text-align: center;
}



/* Adicionando um estilo para a barra de rolagem se o conteúdo for maior que a tela */
.barra{
    background-color: #79DA76;
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
    width: 405px;
    height: 106px;
    position: fixed; 
   margin-top: 820px;
    gap: 10px;     /* Distância do topo da página */
       

}