* {
    margin: 0;
    padding: 0;
}

.tela {
    width: 402px;
    height: 900px;  
    background-color: #262521;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    color: white;
    text-align: center;
}
.ftPerfil{
    padding: 10px;
}
.nomeDePerfil {
    font-size: 30px;
    letter-spacing: 8px;
    margin-bottom: 20px;
}
.menu{
    margin-bottom: 5px;
    width: 100%;  
    padding: 50px;
}

.informe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 
    font-size: 16px;
    color: #79DA76;
    
}

.informe a {
    text-decoration: none;
    color: #79DA76;
    margin-left: 10px; 
}

.informe span {
    margin-right: 10px; 
}

.btn{
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    width: 150px;  
    font-size: 16px;
    text-align: center;
}




.barra{
    position: fixed; 
    margin-top: 780px;
    background-color: #79DA76;
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
    width: 405px;
    height: 110px;
    gap: 10px;   
    bottom: 0; 
}